.link {
  color: $white;
  text-decoration: none;
  margin: 6px 0;
  display: block;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.link__black {
  color: $font-colour;
}

.link__sidebar {
  margin-left: 12%;
}

.link__sidebar__title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 12px;
}
