.student-absences {
  // border: $color-grey-light solid 1px ;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;

  h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .green{
    background-color: greenyellow;
  }
  .red{
    background-color: red;
  }
}
