.list-ues{
    width: 100%;
    .ue{
        display: inline-block;
        width: 25%;
        padding: 10px;
        box-sizing: border-box;
        h2{
            font-size: 2em;
            margin-bottom: 10px;
        }
    }
}
