.podium {
  width: 300px;

  .li-podium {
    display: inline-block;
    vertical-align: bottom;
    width: 100px;
    text-align: center;
    cursor: pointer;
    .p-first, .p-second, .p-third {
      color: white;
      font-weight: bold;
      font-size: 1.5em;

    }
    $second-height: 75px;
    .p-second{
      width: 100px;
      height: $second-height;
      background-color: rgb(31, 48, 3);
      line-height: $second-height;
    }
    $first-height: 100px;
    .p-first {
      width: 100px;
      height: $first-height;
      background-color: darkkhaki;
      line-height: $first-height;
    }
    $third-height: 50px;
    .p-third{
      width: 100px;
      height: $third-height;
      background-color: darkcyan;
      line-height: $third-height;
    }
  }
  .li-podium:hover {
    .p-first, .p-second, .p-third {
      background-color: $color-4;
    }
  }
  li{
    text-align: center;
  }
  li:hover {
    font-weight: bold;
    cursor: pointer;
  }

}


