.promotions {
  .actions {
    width: 45%;
  }
  .centered-col{
    text-align: center;
  }
  table {
    line-height: 2em;
    th {
      padding: 0 25px ;
    }
    td {
    line-height: 2em;
    text-align: left;
    }
    td:last-child a{
      text-decoration: none;
    }

  }
}
a {
  text-decoration: none;
}
.icon-plus {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  float: right;
}
