html {
  width: 100vw;
  height: 100%;
  font-size: 15px;
  font-family: $font-main;
  background: $main-background;
  overflow-x: hidden;
  color: $main-font-colour;
}

body: {
  min-height: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;
}
